<?xml version="1.0" encoding="UTF-8"?>
<?ifndef Version?>
<?define Version = "0.0.0" ?>
<?endif ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="Seq Forwarder" Language="1033" Version="$(var.Version).0"
           Manufacturer="Datalust Pty Ltd" UpgradeCode="EABD21DF-7646-4684-ACD3-FEC86B738CD1">

    <Package InstallerVersion="200"
         Compressed="yes"
         InstallScope="perMachine"
         InstallPrivileges="elevated" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED" />
    <Condition Message="This version of the Seq Forwarder requires the .NET Framework 4.5.2 or later. Please install or update .NET then run the installer again.">
      <![CDATA[Installed OR (WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED = 1)]]>
    </Condition>

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />

    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="..\..\asset\ForwarderLicense.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Icon Id="SeqForwarder.ico" SourceFile="..\..\src\Seq.Forwarder\SeqForwarder.ico"/>
    <Property Id="ARPPRODUCTICON" Value="SeqForwarder.ico" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Install or start the Seq Forwarder service on exit" />
    
    <CustomAction Id="InstallService"
                  Directory="INSTALLFOLDER" ExeCommand='[INSTALLFOLDER]seq.forwarder.administration.exe --setup'
                  Execute="immediate" Return="asyncNoWait" Impersonate="yes" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"               
        Value="InstallService">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    
    <Feature Id="ProductFeature" Title="Seq Forwarder" Level="1">
      <ComponentGroupRef Id="SeqForwarder_Project" />
      <ComponentGroupRef Id="SeqForwarderAdministration_Project" />
      <ComponentGroupRef Id="SeqForwarder_Service" />
      <ComponentRef Id="ApplicationShortcuts"/>
    </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Seq Forwarder" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Seq Forwarder"/>
      </Directory>
    </Directory>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="433EAAF5-D7E5-4D59-949F-A7E5094F8547">
        <Shortcut Id="SeqForwarderAdministrationStartMenuShortcut"
                  Name="Seq Forwarder Administration"
                  Description="Configure the Seq Forwarder Windows Service"
                  Target="[INSTALLFOLDER]seq.administration.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Datalust\Seq Forwarder" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="SeqForwarder_Service">
      <Component Id="SeqServiceControl" Directory="INSTALLFOLDER" Guid="ECED6E49-3809-4DA5-ABD0-4A3413D75012">
        <CreateFolder/>
        <ServiceControl Id="StartService" Stop="both" Name="Seq Forwarder" Wait="yes" />
        <RemoveFile Id="InstallState" On="uninstall" Name="seq.InstallState" />
        <Environment
          Id="PATH"
          Name="PATH"
          Value="[INSTALLFOLDER]"
          Permanent="yes"
          Part="last"
          Action="set"
          System="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
