<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpDA27922DC39ABEE4AED51766786E4CFD" Guid="{F436137E-CE57-43A4-991B-9A44B8945FB2}">
                <File Id="fil35A245A4D0EADE39BA1ACE4C3747CE4D" KeyPath="yes" Source="$(var.BasePath)\Autofac.dll" />
            </Component>
            <Component Id="cmp2A2B27F5AD386D451F6AD02173DDB353" Guid="{40D0656B-4690-4093-990D-0B6C7AD7D59D}">
                <File Id="fil510301A614A8F3D47B8A045FFEEF1D35" KeyPath="yes" Source="$(var.BasePath)\favicon.ico" />
            </Component>
            <Component Id="cmp48154C856B87ADEC49D8FEE6179FF03A" Guid="{39F0555B-FCF3-48B1-98DE-F8346D65BF92}">
                <File Id="fil41AF613B08BA33B207F6DC83C4917150" KeyPath="yes" Source="$(var.BasePath)\LightningDB.dll" />
            </Component>
            <Component Id="cmpE6945F57B9DA8C7CEA0B4D3732ED5DA1" Guid="{E8420008-1C25-4E11-9353-E1EF73E44D1A}">
                <File Id="fil55EDE175360A943150E17C54B6CDBC10" KeyPath="yes" Source="$(var.BasePath)\lmdb.dll" />
            </Component>
            <Component Id="cmp940F32D6B688098DD3F9EDF199414DE3" Guid="{92FDB58F-4090-44B9-824F-5DE9FE224EEF}">
                <File Id="filF29CAC3406B7FD281FE44DE872EE3058" KeyPath="yes" Source="$(var.BasePath)\Nancy.Bootstrappers.Autofac.dll" />
            </Component>
            <Component Id="cmp3C40385889C0A6C29C06D1F58520BED2" Guid="{3A576705-097E-4336-8A46-B86B3109FDEA}">
                <File Id="fil59B7CA28C1ADB6A9766F27CC284885BD" KeyPath="yes" Source="$(var.BasePath)\Nancy.dll" />
            </Component>
            <Component Id="cmp133280381E1480D0340F6512570B789F" Guid="{17BAFEC9-7D84-432E-89A6-A198794701CD}">
                <File Id="filD47E65C2D9809A6FA596D96A0C2EB0FF" KeyPath="yes" Source="$(var.BasePath)\Nancy.Hosting.Self.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{C6B591EE-03A8-41CB-81FE-B2B5A4BC035E}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp48F8563799218FAA04FAE2C1421BB6DA" Guid="{1CCE349A-B52E-4537-B77B-8C5DCCCDC5B7}">
                <File Id="fil47156FA1F974CD586257EF7433CC7AFC" KeyPath="yes" Source="$(var.BasePath)\seq-forwarder.exe" />
            </Component>
            <Component Id="cmpAF5B86F5776989B653A9B1FB1ABE9AE4" Guid="{4C2E8041-443D-4F47-B052-4E1278019641}">
                <File Id="fil2DC8EDE65F4F2999916D0ABEF954E7B4" KeyPath="yes" Source="$(var.BasePath)\seq-forwarder.exe.config" />
            </Component>
            
            <Component Id="cmpDD8AD4E452E0AB61B8413D84427F77C5" Guid="{69A65624-2466-4007-B8D0-D91294B32883}">
                <File Id="fil567042DA1EF022EA1732B2D41CD35C18" KeyPath="yes" Source="$(var.BasePath)\seq-forwarder.runtimeconfig.dev.json" />
            </Component>
            <Component Id="cmp30AC7CC962CC421371F7A74B5E392687" Guid="{AB7228EA-867C-4EC7-A216-2539EA68492F}">
                <File Id="fil4066CD1D25962146D2CA42A5EF06101C" KeyPath="yes" Source="$(var.BasePath)\seq-forwarder.runtimeconfig.json" />
            </Component>
            <Component Id="cmp74A2C73F11C177073B0A672936A0D5EB" Guid="{4E643A97-31C6-4B1D-A776-A28244D7C801}">
                <File Id="fil1CF141D24266A4E5F331DDFE02166A27" KeyPath="yes" Source="$(var.BasePath)\Serilog.dll" />
            </Component>
            <Component Id="cmpC08CEB1C24E4A6DA79EE83CFD8BDCD60" Guid="{32BA14D9-35BF-4649-BFC9-E2AC7BA9071A}">
                <File Id="filD89F64F083730E2B8CC0DEE7002EF506" KeyPath="yes" Source="$(var.BasePath)\Serilog.Formatting.Compact.dll" />
            </Component>
            <Component Id="cmp49818C715FF04B8E95F7B53BDDD323EF" Guid="{4D6B5A41-A0FA-418E-AED7-156B3D88F56C}">
                <File Id="fil1A12B15365165DDBE60433B150808BEE" KeyPath="yes" Source="$(var.BasePath)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmp02B65BB0E7725E00772221A054BE0F6D" Guid="{D5A17B2E-FDA6-480D-9567-0186C6A18586}">
                <File Id="fil6E564047DBBA2340E7D8DB33266CF3CA" KeyPath="yes" Source="$(var.BasePath)\Serilog.Sinks.Literate.dll" />
            </Component>
            <Component Id="cmp5F1AA7FFD17911A668851FA15EE0CD1E" Guid="{41E0E1DD-DD60-459C-B9FD-87E28A5372B2}">
                <File Id="fil6DF069D04BE2DE8E81DEBB4B1DE25568" KeyPath="yes" Source="$(var.BasePath)\Serilog.Sinks.RollingFile.dll" />
            </Component>
            <Directory Id="dir62ACF81DE3B90724F16085CDF3C192DC" Name="Attribution">
                <Component Id="cmpF91E9B989C748AD221E3EBF6B096037C" Guid="{A3308447-B12C-4F54-8ADA-B8DF3A3B3AE3}">
                    <File Id="fil8457E1AB783E7733E2D421ECA491A606" KeyPath="yes" Source="$(var.BasePath)\Attribution\Nancy Libraries License.txt" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SeqForwarder_Project">
            <ComponentRef Id="cmpDA27922DC39ABEE4AED51766786E4CFD" />
            <ComponentRef Id="cmp2A2B27F5AD386D451F6AD02173DDB353" />
            <ComponentRef Id="cmp48154C856B87ADEC49D8FEE6179FF03A" />
            <ComponentRef Id="cmpE6945F57B9DA8C7CEA0B4D3732ED5DA1" />
            <ComponentRef Id="cmp940F32D6B688098DD3F9EDF199414DE3" />
            <ComponentRef Id="cmp3C40385889C0A6C29C06D1F58520BED2" />
            <ComponentRef Id="cmp133280381E1480D0340F6512570B789F" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp48F8563799218FAA04FAE2C1421BB6DA" />
            <ComponentRef Id="cmpAF5B86F5776989B653A9B1FB1ABE9AE4" />
            
            <ComponentRef Id="cmpDD8AD4E452E0AB61B8413D84427F77C5" />
            <ComponentRef Id="cmp30AC7CC962CC421371F7A74B5E392687" />
            <ComponentRef Id="cmp74A2C73F11C177073B0A672936A0D5EB" />
            <ComponentRef Id="cmpC08CEB1C24E4A6DA79EE83CFD8BDCD60" />
            <ComponentRef Id="cmp49818C715FF04B8E95F7B53BDDD323EF" />
            <ComponentRef Id="cmp02B65BB0E7725E00772221A054BE0F6D" />
            <ComponentRef Id="cmp5F1AA7FFD17911A668851FA15EE0CD1E" />
            <ComponentRef Id="cmpF91E9B989C748AD221E3EBF6B096037C" />
        </ComponentGroup>
    </Fragment>
</Wix>