<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpA649DFAC5833A09BC5492E5C226C50BD" Guid="{013BFB6B-FF84-4F34-8302-A5012DF348C7}">
                <File Id="fil630EA70A5DD949EB3016A19DB62D7BCB" KeyPath="yes" Source="$(var.AdminBasePath)\Seq.Forwarder.Administration.exe" />
            </Component>
            <Component Id="cmp22ACF32714AEFA537B3DC30C167F0AE2" Guid="{12BAB057-4596-4FDD-9383-4909257EC36D}">
                <File Id="fil14A4AC386DABFD6900783A399A6F7FA2" KeyPath="yes" Source="$(var.AdminBasePath)\Seq.Forwarder.Administration.exe.config" />
            </Component>
            
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SeqForwarderAdministration_Project">
            <ComponentRef Id="cmpA649DFAC5833A09BC5492E5C226C50BD" />
            <ComponentRef Id="cmp22ACF32714AEFA537B3DC30C167F0AE2" />
            
        </ComponentGroup>
    </Fragment>
</Wix>