<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net46" />
  <package id="LightningDB" version="0.9.3-rc2-51" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net46" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net46" />
  <package id="Nancy" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.1" targetFramework="net46" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="Serilog" version="2.0.0-rc-606" targetFramework="net46" />
  <package id="Serilog.Sinks.File" version="2.0.0-rc-704" targetFramework="net46" />
  <package id="Serilog.Sinks.Literate" version="2.0.0-rc-25" targetFramework="net46" />
  <package id="Serilog.Sinks.RollingFile" version="2.0.0-rc-706" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net452" />
</packages>